{{- /*
Renders a menu for the given menu ID.

@context {page} page The current page.
@context {string} menuID The menu ID.

@example: {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
*/}}

{{- $page := .page }}
{{- $menuID := .menuID }}

{{- with index site.Menus $menuID }}
  <nav class="nav__links" aria-label="主导航">
    {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
  </nav>
{{- end }}

{{- define "_partials/inline/menu/walk.html" }}
  {{- $page := .page }}
  {{- range .menuEntries }}
    {{- $attrs := dict "href" .URL "class" "nav__link" }}
    {{- if $page.IsMenuCurrent .Menu . }}
      {{- $attrs = merge $attrs (dict "class" "nav__link nav__link--active" "aria-current" "page") }}
    {{- else if $page.HasMenuCurrent .Menu . }}
      {{- $attrs = merge $attrs (dict "class" "nav__link nav__link--active" "aria-current" "true") }}
    {{- end }}
    {{- $name := .Name }}
    {{- with .Identifier }}
      {{- with T . }}
        {{- $name = . }}
      {{- end }}
    {{- end }}
    <a
      {{- range $k, $v := $attrs }}
        {{- with $v }}
          {{- printf " %s=%q" $k $v | safeHTMLAttr }}
        {{- end }}
      {{- end -}}
    >{{ $name }}</a>
    {{- with .Children }}
      <span class="nav__sublinks">
        {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
      </span>
    {{- end }}
  {{- end }}
{{- end }}
