// Placeholder to allow customizing styles.

// 萌娘百科风格黑幕
.heimu {
  background-color: #252525;
  color: #252525;
  text-shadow: none;
  transition: color 0.13s linear;
  padding: 0 2px;
  
  &:hover, &:active {
    color: #fff;
  }
}

// 模糊遮挡效果
.blur-text {
  filter: blur(5px);
  transition: filter 0.5s;
  cursor: pointer;
  user-select: none; /* 防止模糊时被选中复制 */
  
  &:hover, &:active {
    filter: none;
    user-select: text;
  }
}
